body {
  align-items: flex-start;
  background-color: #fff;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.contentContainer {
  background-color: #08d;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
  margin: 20px;
  text-align: center;
}

.header {
  color: white;
  font-size: 18pt;
}

.costFloor {
  font-size: 50px;
}

.costLogo {
  height: 50px;
  margin-right: 20px;
  vertical-align: middle;
}

.widgetContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.widget {
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 5px 5px 2px 1px lightgray;
  border: 1px solid lightgray;

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 250px;
  height: 300px;
  padding: 20px;
  margin: 0px 20px 0px 20px;
}

.arrow {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100px;
  height: 100;
  margin: 0px 20px 70px 20px;
}

.grayed {
  opacity: 0.4;
}

.wider {
  width: 285px;
  margin-bottom: 50px;
}

.widgetTitle {
  color: #15172b;
  font-size: 20pt;
  text-align: center;
}

.planLogo {
  width: 100px;
  margin-top: 15%;
  margin-bottom: 15%;
}

.netflixLogo {
  width: auto;
  max-height: 100px;
}

.verified {
  position: inherit;
  right: -100px;
  bottom: 10px;
  width: 25px;
}

.offset {
  right: -120px;
  bottom: 20px;
}

.console {
  background-color: #15172b;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  box-sizing: border-box;
  padding: 20px;

  width: 100%;
  height: 500px;
  position: fixed;
  bottom: 0px;
  right: 0px;
}

.minimized {
  position: fixed;
  bottom: 10px;
  right: 10px;
  height: 75px;
  width: 75px;
  padding: 20px;
  background-color: #15172b;
  border-radius: 20px;
}

.forgeLogo{
    width: auto;
    z-index: 1;
}
.transform {
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
}

.consoleTitle {
  color: white;
  text-align: center;
  font-size: 25px;
}

.minToggle {
  position: inherit;
  width: 30px;
  height: 30px;
  margin-top: -5px;

  font-size: 30px;
  line-height: 30px;

  color: white;
  text-align: center;
  vertical-align: middle;
}

.minToggle:hover {
  font-size: 70px;
  cursor: pointer;
}

.terminalText{
    font-family: Courier New;
    color: white;
    background-color: rgb(21, 23, 43, 0.6);
    padding: 10px;
}
