@import '../../node_modules/bootstrap/scss/functions';
@import 'vars';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';
@import '../../node_modules/bootstrap/scss/bootstrap';

body {
  width: 100vw;
}

.slidersContainer {
  margin: 0, 20px, 20px, 20px;
  display: flex;
  justify-content: center;

  .rangeContainer {
    margin: 0 20px 0 20px;
    display: flex;
    flex-direction: column;
    // border: 1px solid gray;
    justify-content: flex-start;
    align-items: center;
    width: 15%;
    height: 200px;

    #rangeLabel {
      color: $graphite;
      text-align: center;
    }

    #rangeControl {
      margin-top: 35px;
      height: 75px;
      transform: rotate(270deg);
    }
  }
}

.statBox{
    position:absolute;
    z-index:1000;
    // background-color: $graphite;
    border: 2px solid $graphite;
    border-radius: 10px;
    color: $graphite;
    left: 100px;
    top: 175px;
    padding: 10px 15px 15px 15px;
    
    .statTitle{
        text-align: center;
        text-decoration: dotted;
    }

    .stat{
        color: $forge;
    }
}

.topBar {
  display: inline-flex;
  width: 100vw;
}

.filterContainer {
  display: flex;
  padding: 35px 0 0 25px;
  width: 700px;
  flex-wrap: wrap;
  justify-content: center;
}

.seasonTile {
  width: 70;
  height: 70;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 5px 5px 2px 1px lightgray;
  border: 1px solid lightgray;
  padding: 10px;
  margin: 0px 15px 0px 15px;
}

.seasonTile:hover {
  opacity: 1;
  box-shadow: 5px 5px 2px 1px lightgray;
}

.greyed {
  opacity: 0.3;
  box-shadow: 3px 3px 1px 1px lightgray;
}

.day {
  border: 1px solid lightgray;
  color: #15172b;
  font-family: sans-serif;
  height: min-content;
  padding: 3px;
  border-radius: 5px;
  width: 35px;
  text-align: center;
  margin: 15px 5px 5px 5px;
}

.dayGrey {
  opacity: 0.3;
}

.day:hover,
.shape:hover {
  opacity: 1;
}

.selectedLabel {
  border: 1px solid #fe1c41;
}

.shapeContainer {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: row-reverse;
  justify-items: right;
  align-items: right;
}

.shape {
  width: 150px;
  height: 100px;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 5px 5px 2px 1px lightgray;
  border: 1px solid lightgray;
  padding: 10px;
  margin: 0px 15px 0px 15px;
}

.arrow {
  opacity: 0.5;
}
